SCIFORIUM_API_KEY="sf_<yourkey>"
SCIFORIUM_API_ENDPOINT="/deployments/<yourhash>/deepseek-ai/DeepSeek-V4.1-Flash"
IRS_LOGICS_KEY = ""
IRS_LOGICS_SECRET = ""
IRS_LOGICS_CASEID_DEMO = "52103" # just for demo